{{ if not errore:}}

<div id="id1">
    
<span align="center"><b>Cliente : </b> {{=nome_cliente}}</span>
<table class="table">
    <tr>
        <td>Codice articolo<br>Ubicazione</td> <td>{{=codice_articolo}}<br>{{=ubicazione}}</td>
    
        <td>Descrizione articolo</td> <td>{{=descrizione}}</td>
    </tr>
     <tr>
        <td>Codice ordine</td> <td>{{=codice_ordine}}</td>
        <td>Riferimento ordine</td> <td>{{=riferimento_ordine}}</td>
    </tr>
     <tr>
        <td>Data inserimento ordine</td> <td>{{=data_inserimento}}</td>
        <td>Quantità richiesta per l'ordine:</td> <td>{{=quantita_ordine}}</td>
    </tr>
    
    <tr>
        <td>Giacenza non riservata</td> <td><input type="text" id="aggiorna_giacenza" value="{{=giacenza_non_riservata}}"><button onclick="aggiorna_giacenza()">Aggiorna</button></td>
        <td>Quantità da saldare (aggiornata da emissione ddt)</td> <td>{{=quantita_saldo}}</td>
    </tr>
     <tr>
        <td>Produzione riservata fino ad ora</td> <td>{{=prenotato}}</td>
        <td>Produzione da riservare per completare la produzione</td> <td>{{=produzione_da_riservare_per_completare_la_produzione}}</td>
    </tr>
    {{if not riga_evasa:}}
   <tr>
        <td>Quantità da riservare da giacenza</td> <td><input type="text" id="riserva_da_giacenza"><button class="btn btn_default" onclick="riserva_da_giacenza()" >Riserva da giacenza </button></td>
        <td>Quantità da disdire</td> <td><input type="text" id="disdire_giacenza"><button class="btn btn_default" onclick="disdire_giacenza()" >Disdici la riserva </button></td>
    </tr>
    <tr>
        <td>Quantità prodotta da riservare per l'ordine</td> <td><input type="text" id="prodotta"></td>
    </tr>
    <tr>
        <td><button class="btn btn-default" onclick="inserisci_quantita()">
            Inserisci
            </button></td> <td></td>
    </tr>
    {{pass}}
    
</table>
 {{if riga_evasa:}}
 <h3>Riga evasa in ddt </h3>
 {{for ddt in ddts:}}
 	{{=ddt}}
 {{pass}}



 {{pass}}</div>
    <script>

  $(document).ready(function ()
                      {
  
     $('#prodotta').focus();
    })
  
  
  
  function riserva_da_giacenza()
  
  {
     ele = $(".w2p_flash.alert.alert-dismissable")
     ele.html('').slideUp()
             
     id_riga_ordine = {{=id_riga_ordine}}
     riserva_da_giacenza= $("#riserva_da_giacenza").val()
  
    
    
      justoop.gestionaleRpc.riservaGiacenza(id_riga_ordine,riserva_da_giacenza).success(function _(data)
                                                                                                                                        
                                                                                                                                            
       { 
           
           if (typeof(data.error) == "undefined")
           {
		
		
	     ele.css("background-color","#f9edbe")
             ele = $(".w2p_flash.alert.alert-dismissable")
             ele.html('Aggiornamento riuscito').slideDown()
             
             web2py_component("{{=URL('default', 'return_dettagli_articolo_da_riga_ordine')}}" +
                 "?id_riga_ordine=" + id_riga_ordine,
                 target='id2')
               
           }
            else
            {
            
            ele = $(".w2p_flash.alert.alert-dismissable")
            ele.html('Errore in aggiornamento').slideDown()
            ele.css("background-color","#f4424b")
            
            }
       });
           
    
  
  
  }
  
  
    function disdire_giacenza()
  
  {
     ele = $(".w2p_flash.alert.alert-dismissable")
     ele.html('').slideUp()
             
     id_riga_ordine = {{=id_riga_ordine}}
     riserva_da_giacenza= $("#disdire_giacenza").val()
  
    
    
      justoop.gestionaleRpc.disdireGiacenza(id_riga_ordine,riserva_da_giacenza).success(function _(data)
                                                                                                                                        
                                                                                                                                            
       { 
           
           if (typeof(data.error) == "undefined")
           {

             ele = $(".w2p_flash.alert.alert-dismissable")
             ele.html('Aggiornamento riuscito').slideDown()
             
             web2py_component("{{=URL('default', 'return_dettagli_articolo_da_riga_ordine')}}" +
                 "?id_riga_ordine=" + id_riga_ordine,
                 target='id2')
               
           }
            else
            {
            
            ele = $(".w2p_flash.alert.alert-dismissable")
            ele.html('Errore in aggiornamento').slideDown()
            ele.css("background-color","#f4424b")
            
            }
       });
           
    
  
  
  }
  
  function inserisci_quantita()
    {
        
     quantita_prodotta =$('#prodotta').val()
        if (isNaN(quantita_prodotta) || quantita_prodotta < 0 || quantita_prodotta > 100000) {
        debugger
        ele = $(".w2p_flash.alert.alert-dismissable")
        ele.html('Inserire un valore numerico').slideDown()
        ele.css("background-color","#f4424b")
        
    } else 
    
    {
        ele = $(".w2p_flash.alert.alert-dismissable")
        ele.html('Inserire un valore numerico').slideUp()
        
        justoop.gestionaleRpc.aggiornaQuantita('{{=id_riga_ordine}}','{{=codice_articolo}}',quantita_prodotta).success(function _(data)
                                                                                                                                        
                                                                                                                                            
       { 
           //debugger
           if (typeof(data.error) == "undefined")
           {
             $("#id1").html("")
             ele = $(".w2p_flash.alert.alert-dismissable")
             ele.html('Aggiornamento riuscito').slideDown()
             $('#barcode').focus();
               
           }
            else
            {
            
            ele = $(".w2p_flash.alert.alert-dismissable")
            ele.html('Errore in aggiornamento').slideDown()
            ele.css("background-color","#f4424b")
            
            }
       });
           
    
    }
    
        
        
       
    }
    
 function aggiorna_giacenza()
    {
        
     quantita_prodotta =$('#aggiorna_giacenza').val()
        if (isNaN(quantita_prodotta) || quantita_prodotta < 0 || quantita_prodotta > 100000) {
        ele = $(".w2p_flash.alert.alert-dismissable")
        ele.html('Inserire un valore numerico').slideDown()
        ele.css("background-color","#f4424b")
        
    } else 
    
    {
        ele = $(".w2p_flash.alert.alert-dismissable")
        ele.html('Inserire un valore numerico').slideUp()
        
        justoop.gestionaleRpc.aggiornaGiacenza('{{=id_riga_ordine}}',quantita_prodotta).success(function _(data)
                                                                                                                                        
                                                                                                                                            
       { 
           //debugger
           if (typeof(data.error) == "undefined")
           {
             //$("#id1").html("")
             ele = $(".w2p_flash.alert.alert-dismissable")
             ele.html('Aggiornamento riuscito').slideDown()
             //$('#barcode').focus();
             web2py_component("{{=URL('default', 'return_dettagli_articolo_da_riga_ordine')}}" +
                 "?id_riga_ordine=" + id_riga_ordine,
                 target='id2')
               
           }
            else
            {
            
            ele = $(".w2p_flash.alert.alert-dismissable")
            ele.html('Errore in aggiornamento').slideDown()
            ele.css("background-color","#f4424b")
            
            }
       });
           
    
    }
    
        
        
       
    }
   
  
</script>

{{else:}}
<h1>Lettura non riuscita. Riprovare</h1>
{{pass}}
