{{=form}}

<script language="javascript">
    $("#righe_in_ddt_cliente_id_ordine__row").hide()
     $("#righe_in_ddt_cliente_codice_ordine__row").hide()
     $("#righe_in_ddt_cliente_codice_articolo__row").hide()
     
     $("#righe_in_ddt_cliente_id__row").hide()
     $("#righe_in_ddt_cliente_n_riga__row").hide()
     $("#righe_in_ddt_cliente_descrizione__row").hide()
     $("#righe_in_ddt_cliente_riferimento_ordine__row").hide()
     $("#righe_in_ddt_cliente_u_m__row").hide()
     //$("#righe_in_ddt_cliente_prezzo__row").hide()
     $("#righe_in_ddt_cliente_sconti__row").hide()
     $("#righe_in_ddt_cliente_codice_iva__row").hide()
     $("#righe_in_ddt_cliente_evasione__row").hide()
     $("#righe_in_ddt_cliente_user_id__row").hide()
     $("#righe_in_ddt_cliente_id_riga_ordine__row").hide()
    
   
</script>
