{{extend 'layout.html'}}
<style>
    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      display: none;
      z-index: 10000;
      top: 10%;
      left: 45%;
      bottom: 0;
      right: 0;
      overflow: visible;
      position: fixed;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    </style>
    <div id="ajaxspinner" class="loader" ></div>
    <h1>Storico articoli prodotti fornitori</h1>
    <button id="aggiornaArticoli" onclick="aggiornaArticoli()">Aggiorna lo storico</button>
    {{=articoli}}
    

<script>
function aggiornaArticoli() {
const Url="/gestionale/default/storico_articoli_prodotti_fornitore_cron";
$('#ajaxspinner').show();
$("#aggiornaArticoli").hide()

$.ajax({
     url: Url,
     type:"GET",
     success: function() {
          //alert("Aggiornamento completato")
          location.reload()
     },
     error: function() {
          alert("Errore in aggiornamento")
          $("#aggiornaArticoli").show()
          $('#ajaxspinner').hide();
     }
})



}
</script>